/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* google elementy */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
  }

body {
    font-family: 'Source Serif Pro', serif;
	font-size: 18px;
	line-height: 1.75;
	margin:0 0;
}

.stranka {
    margin-left:auto;
    margin-right:auto;
}

/* POCITAC */
@media (min-width:1100px){
    .stranka {
        width:1100px;
    }
}

@media (min-width:900px) and (max-width:1099px){
    .stranka {
        width:900px;
    }
}

/* TABLET */
@media (min-width:700px) and (max-width:899px){
    .stranka {
        width:700px;
    }

}

/* MOBIL */
/* @media (max-width:699px){

} */

a {
    text-decoration: none;
    color: black;
	}

header {
    display: flex;
    flex-direction:column;

    /* border: 3px solid yellow; */
}

.menu {
    flex: 0 1 auto;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width:100%;
    /* border: 3px solid green; */
}

.menu-mobil {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    display:none;
        /* border: 3px solid yellow; */

}

.menu-polozka {
    flex-grow:1;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding: 20px 10px;
    width:120px;
    text-transform: uppercase;
    /* border: 1px solid red; */
    color: #000000;
}

.menu-polozka:hover {
    /* color: #B10D3E; */
    font-weight:600;
    background-color:#EFECEC;
    border-radius: 7%;
    /* border: 1px solid #EFECEC; */
}

.zvolena {
    color: #B10D3E;
    font-weight:600;
}

/* hamburger menu */
.navbar {
    background-color:lightgrey;
    width: 100%;
    display: none;
    text-transform: uppercase;
  }

  .navbar ul {
    padding: 5%;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
  }

  .navbar li {
    display: block;
    padding: 1% 1%;
    /* width: 100%; */
  }

   .navbar li a {
    color: #373737;
    text-decoration: none;
    /* transition: all .5s; */
  }

  .navbar li:hover {
    cursor: pointer;
    color:#B10D3E;
  }

  .hamburger {
    position:absolute;
    top:31px;
    right: 30px;
    /* margin-top: 30px; */
    padding: 0;
    transition: opacity .3s;
    /* border: 2px solid red; */

  }

  .hamburger:hover {
    cursor: pointer;
    opacity: .5;
  }

  .hamburger .line{
    width: 30px;
    height: 2px;
    margin: 9px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }

  .hamburger .line:nth-child(1) {
    background-color: grey;
  }

  .hamburger .line:nth-child(2) {
    background-color: lightgrey;
  }

  .hamburger .line:nth-child(3) {
    background-color: grey;
  }

  .hamburger.isactive .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.isactive .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.isactive .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .navbar {
    transition: all 2s ease-in-out;
  }

  .navbar.active {
    display: block;
    animation: fade .5s;
  }

  @keyframes fade {
    from{transform: translateX(-200px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
  }



.nadpis {
    flex-grow:3;
    height: 130px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:0 40px;
    margin:0;
    /* border: 3px solid red; */
}

.obrazek {
    flex: 0 1 auto;
    position:relative;
    background-image: url("pic/titulni.jpg");
    width:100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin-left:auto;
    margin-right:auto;
    /* border: 3px solid blue; */
}

.titulni_obrazek {
    width:90%;
    /* border: 3px solid yellow; */
}

footer {
    margin-top: 8%;
    width:100%;
    /* background-color:#618D02; */
}


/* Odstavce */
.nastred {
    text-align: center;
    /* border: 3px solid yellow; */
    margin:40px 20px 30px 20px;
}


/* Texty */
.zenazeme {
    width: 220px;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    height: 50px;
    margin:0;
    padding:0;
    color: #B10D3E;
    /* border: 3px solid violet; */
}

.petra {
    font-style: Bold;
    font-style: italic;

    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin:5px;
    padding:0;
    /* border: 3px solid saddlebrown   ; */
}

b {
    font-weight:600;
}

h2 {
    font-style: Bold;
    font-weight: 400;
    font-size: 40px;
    color: #B10D3E;
    /* border: 3px solid orange; */
    margin:0;
    padding:0;
}

h3 {
    font-style: Bold;
    font-weight: 400;
    font-size: 30px;
    margin:10 0 10 0;
    padding:0;
}

h4 {
    color:#B10D3E;
    font-size:20px;
    font-weight: 600;
    font-style: italic;
    margin-bottom:5px;
}

h5 {
    font-size:25px;
    font-weight: 600;
    margin-bottom:5px;
}

.navigace {
    color: #618D02;
    font-weight: 400;
    text-decoration: underline;
}

.podtitul {
    font-size: 20px;
    font-style:italic;
    font-weight: 300;
    padding:0;
    margin:-15px 0 15px 0;
}

.zelene {
    color: #618D02;

}

.cervene {
    color: #B10D3E;

}

.kapitalky {
    text-transform: uppercase;
    /* text-align: center; */
    color:#373737;
    font-weight: 600;

}

.popis_stred {
    width: 700px;
    /* border: 3px solid orange; */
}

.paticka {
    font-size: 13px;
}

.patickapolozka {
    display:flex;
	top:15px;
	vertical-align: center;
    color:white;
    background-color: #618D02;
	padding:10px;

}

.patickasloupce {

}

.paticka_copy {
    width:50%;
}

.paticka_webdesign {
    width:50%;
    text-align: right;
}

.motto {
    position: absolute;
    width: 250px;
    height: 198px;
    left: 8%;
    top: 15%;

    font-style: italic;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;

}

.dole-okraj {
    padding-bottom: 30px;
    /* border: 3px solid blue;  */

}

.pisnicka {
    width:100%;
    display: flex;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    /* margin:10px; */
    align-items: center;
    justify-content: center;
    /* border: 3px solid blue;  */
}

.pisnicka-text {
    /* padding-right:5px; */
}

.pisnicka_stred {

    justify-content:center;

}

.pisnicka_nazev {
    padding:1% 1% 1% 0;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    /* border: 3px solid orange; */

}
.pisnicka_prehravac {
    /* border: 3px solid green;  */

}
section {
    margin-top: 50px;
}

.sede {
    background-color: #EFECEC;
}

.oranzova {
    background-color: #FFF4F2;
}

.zelena {
    background-color: #F3FFEE;
}

.ruzova {
    background-color: #FFEDF8;
}

.zeleny_nadpis {
    width:100%;
    color:#618D02;
    /* font-size: 25px; */
    /* font-weight: 600; */
    padding: 20px 0px 0px 0px;
    text-align: center;


    /* border: 3px solid green; */

}

.cd {
    display:flex;
    /* border: 3px solid yellow; */
    background-color: #FFF4F2;
    /* background-color: #F7FFE6; */
}

.cd_obrazek {
    width: 50%;
    /* margin: 5% 5%; */
    /* border: 3px solid green; */
}

.cd_zena_pred {
    display:none;
}

.obrazek-index
 {
    flex-grow:1 1 auto;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center center;

    /* border: 3px solid orange; */
}

.cd_text {
    /* border: 3px solid blue; */
    margin: 5%;
    display:flex;
    flex-direction:column;
}



.cd_uvod {
    font-size: 25px;
    margin:10px;
    color:#618D02;
    font-weight: 400;
    /* border: 3px solid blue; */
}

.cervene_velke {
    color:#B10D3E;
    font-weight: 400;
    font-size: 35px;
    margin:10px;
    font-style: italic;
    /* border: 3px solid blue; */
}

.cd_nadpis {

}

.cd_popis {
    margin: 15px;
}

.tlacitko {
    border: 1px solid #618D02;
    color:#618D02;
    background-color: white;
    width:140px;
    padding:6px 5px;
    margin: 20px;
    text-align: center;
    font-weight: 500;
    align-self:center;
}



.tlacitko:hover {
    color: white;
    background-color: #618D02;
}

.tlacitko-zelene {
    color: white;
    background-color: #618D02;
    width:140px;
    padding:6px 5px;
    margin: 20px;
    align-self: center;
    text-align: center;
    font-weight: 500;
}

.tlacitko-zelene:hover {
    color: #618D02;
    border: 1px solid #618D02;
    background-color: white;
}

.reference {
    display: flex;
    justify-content: space-around;
}

.reference_ramecek {
    padding: 2% 0 5% 0;
}

.reference_text {
    margin:0 10px;
    font-style: italic;
    /* border: 3px solid #618D02; */

}

.reference_jmeno {
    color:#618D02;
    font-weight:600 ;
    margin:0 10px;
    /* padding-top: 5px; */
}

.reference_jm2 {
    color:grey;
    font-style: italic;
    font-weight:600 ;
    margin:0 10px;
}

.reference_karta {
    display:flex;
    /* border: 3px solid orange; */
    flex-wrap: wrap;
    flex-direction: column;
    margin:10px;
    padding:15px;
    border-radius: 10px;
    width:30%;
    background-color:white;
}

.reference_karta_1 {
    display:flex;
    /* border: 3px solid orange; */

    flex-wrap: wrap;
    flex-direction: column;
    margin:10px;
    padding:15px;
    width:55%;
    border-radius: 10px;

    background-color:white;

}

.reference_karta_max {
    display:flex;
    /* border: 3px solid orange; */

    flex-wrap: wrap;
    flex-direction: column;
    margin:10px;
    padding:15px;
    width:95%;
    border-radius: 10px;

    background-color:white;

}

.reference_tlacitko {
    padding: 20px;
}

.nabidka {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.bez {
    list-style-type:none;
}

.cervena {
    color:#B10D3E;
    font-size:20px;
    font-weight: 600;
    font-style: italic;

    /* text-transform: uppercase; */
}

.seda {
    color: #373737;
    font-weight:400;
    font-style: italic;
}

.nabidka-okno {
    display: flex;
    margin-top:30px;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;

}


.nabidka-text {
}

.nabidka-foto {
    width: 180px;
    height: 180px;
    border-radius: 80px;
    background-size: cover;
    background-position: center center;
    margin:10px;

}

.foto1 {
    background-image: url("pic/18_web.jpg");
}

.foto2 {
    background-image: url("pic/57_web.jpg");
}

.foto3 {
    background-image: url("pic/23_web.jpg");
}

.foto4 {
    background-image: url("pic/25_web.jpg");
}

.foto5 {
    background-image: url("pic/39_web.jpg");
    background-size: 120%;
    background-position: top center ;

}
.foto6 {
    background-image: url("pic/28_web.jpg");
}

.foto-srdce {
    background-image: url("pic/srdce.jpg");
}

.foto-kalim{
    background-image: url("pic/06_web.jpg");
}

.foto-koshi{
    background-image: url("pic/10_web.jpg");
}

/* bez hoveru */
.cd1 {
    background-image: url("pic/CD1-predek.png");
}

.cd2 {
    background-image: url("pic/CD2-predek.png");
}

.cd1-predek {
    background-image: url("pic/CD1-predek.png");
}

.cd1-zadek {
    background-image: url("pic/CD1-zadek.png");
}

.cd1-predek:hover {
    background-image: url("pic/CD1-zadek.png");

}

.cd2-predek {
    background-image: url("pic/CD2-predek.png");
}

.cd2-zadek {
    background-image: url("pic/CD2-zadek.jpg");
}

.cd2-predek:hover {
    background-image: url("pic/CD2-zadek.jpg");

}

.omne {
    display:flex;
    padding: 2% 0 ;
            /* border: 3px solid yellow; */

}

.omne-obrazek {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    /* margin: 20px; */

    background-image: url("pic/20_web.jpg")
}

.omne-pulka {
    /* width:40%; */
    margin:10px;
}
.omne-druha {
    margin:20px 30px 0px 30px;
}

.doleva {
    text-align:left;
    padding:0;
    margin-top:20px;
}

.stred {
        /* border: 3px solid yellow; */
    width:100%;
    text-align: center;
}

.omne-tlacitko {
    /* width:100%; */

    /* border: 3px solid yellow; */
    margin-top: 15px;
}

.omne-text {
    margin-right:10px;
}

.blog-obr-pole{
    display:flex;
    justify-content: center;
    width:100%;
    text-align:center;
        /* border: 3px solid orange; */

}

.blog-obrazek {
    width: 180px;
    height: 250px;
    margin: 20px;
    background-size: cover;
    background-position: center center;

    /* border: 3px solid orange; */

}

.blog-kurziva {
    /* font-style:italic; */
    color:#B10D3E;
    font-style: italic;
    font-weight:600;
}

.blog-pozadi {
    padding: 20px 10px;
}

.cely-clanek {
    font-size: 11px;
    padding-top: 10px;
    text-decoration: underline;
}

.obr1 {
    background-image: url("pic/zenska_cesta.jpg");
}

.obr2 {
    background-image: url("pic/propojeni_priroda.jpg");
}

.obr3 {
    background-image: url("pic/tvoreni2.jpg");
}

.obr4 {
    background-image: url("pic/neni_treba_vyhoret.jpg");
}

.obr5 {
    background-image: url("pic/poselstvi_zeny.jpg");
}

.obr6 {
    background-image: url("pic/ladit_zenstvi.jpg");
}

.obr7 {
    background-image: url("pic/zeny-z-hliny.jpg");
}

.obr8 {
    background-image: url("pic/krasa_zenske_tvorby.jpg");
}

.obr9 {
    background-image: url("pic/zeny_z_hliny.jpg");
}

.obr10 {
    background-image: url("pic/s_delohou_ci_bez.jpg");
}

.obr11 {
    background-image: url("pic/operace-delohy.jpg");
}

.obr12 {
    background-image: url("pic/co-mi-pred-pomohlo.jpg");
}

.obr13 {
    background-image: url("pic/co-mi-po-pomohlo.jpg");
}

.cara {

        /* border: 3px solid orange; */

}

.blog-karta {
            /* border: 3px solid red; */
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.blog-clanek {
    margin: 0 50px 0 50px;
    padding-top:20px;

}

.blog-nadpis {

            /* border: 3px solid orange; */

}

.blog-obr{
    width: 300px;
    height: 400px;
    float:left;
    margin: 0 20px 20px 0px;
    padding-right:20px;
            /* border: 3px solid orange; */

}


.blog-obr-sirka{
    width: 450px;
    height: 300px;
    float:left;
    margin: 0 20px 10px 0px;
    padding-right:20px;
            /* border: 3px solid orange; */

}

.blog-obr-text {
    width: 400px;
    height:400px;
    float:right;
    margin:0 3% 3% 3%;
}

.blog-navigace {
    margin-left: 80px;
    margin-top: 10px;
}

.blog-vice {
    color:#89C013;

}

.blog-nazev {
    /* text-transform: uppercase; */
    font-size:20px;
    font-weight: 600;
    font-style: italic;
    color:#B10D3E;
    text-align:center;
    margin:0;
    flex-grow:3;
}

.blog {
    display:flex;
    flex-basis: 30%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-text {
    flex-grow:3.5;
    padding:0 10px;
    /* border: 3px solid orange; */


}

.blog-tlacitko {
    /* border: 3px solid green; */
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    vertical-align: bottom;
}

.posledni {
    margin-bottom: 50px;
        /* border: 3px solid orange; */

}

.odkaz{
    color:#B10D3E;
    font-weight: 500;
    text-decoration: underline;
}

/* O MNE */

.obdelnik {
    background-color:#FFF4F2;
    /* border: 3px solid orange; */
    width:100%;
    margin:20px 0;
    text-align:center;
    font-size:20px;
}

.sekce {
    margin-top:2%;
    display: flex;
    /* border: 3px solid green; */

}

.sekce_popis {
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
    /* border: 3px solid blue; */

}

.sekce_popis_bez_nadpisu {
    margin-left:30px;
    margin-right:30px;
    /* border: 3px solid blue; */
}


.sekce_text {
    margin-top:2%;
    margin-left:2%;
}

.text_zuzeny {
    padding-right:80px;
    padding-left:80px;
}

.sekce_obrazek {
    width: 40%;
    align-content: 'center';
    /* border: 3px solid yellowgreen; */

}

.nadpis-cerveny {
    color:#B10D3E;
    margin-top:5%;
    text-align:center;
}

.nadpis-ramecek {
    text-align:center;
    padding-top:30px;
}

.obrazek-obecne
 {
    flex-grow:1 1 auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    margin:10px;

    /* border: 3px solid orange; */
}

.obrazek-obecne-vetsi
 {
    flex-grow:1 1 auto;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin:10px;

    /* border: 3px solid orange; */
}

.obrazek-cd
 {
    flex-grow:1 1 auto;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    margin:10px;

    /* border: 3px solid orange; */
}

.obrazek-obecne-mensi
 {
    flex-grow:1 1 auto;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    margin:20px;

    /* border: 3px solid orange; */
}

.kurziva {
    font-style: italic;
}

.obrazek-kulaty{
    border-radius: 50%;
}

.obrazek-omne {
    background-image: url("pic/20_web.jpg");
    background-position:top;
}

/* Tipy na fonty: Krimson (old school, uzemeni), Lora (zenske), Amiri (jemne, soucitne), Spectral (specialni, krasna kurziva, pusobi jako osobnost), Una (kurzíva krásná, ženská - tučným kdyby byly nadpisy, tak by to mohlo vypadat dobře), DM Serif text (krásná kurzíva s linkami)
Ilustrace: pepeta.cz
Pro Julku: Italiano*/

.sekce_popis {
    width:60%;
    flex: 2 1 auto;
    /* border: 3px solid blue; */
}

.pruvodci {
    display:flex;
    flex-direction: row;
    /* border: 3px solid blue; */
}

.pruvodci-popis {
    margin-left:10px;
}

.pruvodci-jmeno {
    flex:0 1 20%;
    /* border: 3px solid green; */

}

.odkaz-cerveny {
    color:#B10D3E;
    font-weight: bold;
}

.doprovazim_aktivity {
    margin: 10px 20px;
    display:flex;
    flex-wrap: wrap;
    align-items:baseline;
        /* border: 3px solid green; */

}
.pisnicka-text-pokus {
    display: flex;
            /* border: 1px solid #618D02; */
    align-items: center;

}

.text-audio {
    padding-right: 20px;
}

.doprovazim_obr_text {
        display:flex;
        flex-direction: column;
        flex: 1 1 30%;
        /* border: 1px solid #618D02; */
        text-align:center;
        align-items: center;
        margin:10px;
        padding: 20px 0;
        border-radius: 5px;

}

.doprovazim_obr {
    display:flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    margin:10px;
    height:150px;
    width: 150px;
    /* border-radius: 60%; */
    /* border: 2px dotted #618D02; */
    color: #EFECEC;
    /* filter: brightness(70%); */

}

.foto-zive {
    background-image: url("pic/1.png");

}

.foto-workshop {
    background-image: url("pic/7.png");
}

.foto-elementy {
    background-image: url("pic/4.png");

}
.foto-deloha {
    background-image: url("pic/5.png");
}

.foto-kolo {
    background-image: url("pic/4.png");
}

.foto-cviceni {
    background-image: url("pic/8.png");
}

.foto-lazne {
    background-image: url("pic/10.png");
}

.foto-cd {
    background-image: url("pic/cd.png");
}
.foto-zivly {
    background-image: url("pic/elementy.png");
}
.foto-zeme {
    background-image: url("pic/zemi.png");
}
.foto-obrady {
    background-image: url("pic/obrady.png");
}
.foto-nove {
    background-image: url("pic/nove.png");
}
.foto-menstruace {
    background-image: url("pic/menstruace.png");
}

.foto-nastroje {
    background-image: url("pic/01_web.jpg");
}

.foto-kalimba {
    background-image: url("pic/06_web.jpg");
}

.foto-koshi {
    background-image: url("pic/10_web.jpg");
}

.doprovazim_akce {
    width:100%;
    text-align:center;
    /* background-color:#618D02; */
    /* border: 2px solid #618D02; */
    font-size:x-large;
    /* text-decoration: underline; */
    font-weight: 600;
    color:#B10D3E;

    padding:5px 0;
    /* border-radius: 5px; */

}

.doprovazim_akce:hover {
    /* color: white; */
    /* background-color: #618D02; */
}

.doprovazim_popis {
    color:#373737;
    text-align:left;
        /* border: 2px solid #618D02; */

}

ul {
    margin:0;
    /* color:#B10D3E; */
    list-style-type:disc;
}

.otazky-left {
    font-size:20px;
    text-align: left;
}

.otazky-center {
    font-size:20px;
    text-align: center;
    margin:30px;
}

.seznam {
    margin: 20px 30px 30px 30px;
    line-height: 2;
        /* border: 2px solid #618D02; */


}

.cviceni-tabulka {
    display: flex;
    width:100%;
}

.cviceni-jak {
    flex: 1 1 50%;
    margin-right:2%;
    padding: 1%;
    border: 2px solid #618D02;
    border-radius: 5px;

}

.cviceni-nadpis {
    text-align: center;
}

.cviceni-ucitele {
    padding: 10px 30px 40px 30px;
}


.text-otazky {
    padding: 1% 2% 2% 2%;
    /* border: 2px solid #618D02; */
}

.info-ritual {
    display:flex;
    padding: 0 60px 30px 60px;
        /* border: 2px solid #618D02; */

}

.ritual {
    display:flex;
    /* padding: 2% 0 ; */
            /* border: 3px solid yellow; */

}

.ritual-sloupec {
    flex-basis: 50%;
    margin: 0 30px;
        /* border: 2px solid red; */

}

.sekce-ritual {
    margin: 40px;
}

.ritual-text {
    margin: 30px 80px 0 80px;
}

.zelene-podtrzene {
    text-decoration: underline ;
    font-weight: 800;
    color:#618D02;
}
.zelene-2 {

    font-weight: 800;
    color:#618D02;
}

.cervene-podtrzene {
    text-decoration: underline ;
    font-weight: 800;
    color: #B10D3E;
}

.banner-otazky {
    display: flex;
    align-items: flex-start;
        /* border: 2px solid #618D02; */

}

.obr-chlivek {

    /* border: 2px solid yellow; */

}
.obrazek-otazky {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin-left: 30px;
    border-radius: 50%;
}

.ucitele {
    margin-left: 20px;
    padding-top:20px;
}

.odsazene {
    margin-bottom: 20px;
}

.odsazene-zvrchu {
    margin-top: 20px;
}

.odsazene-zleva {
    margin-left: 20px;
}

.odsazene-zboku {
    margin-left:60px;
    margin-right:60px;
}

.odsazene-padding {
    padding-bottom: 25px;
}

.ritual-pulka {
    width:30%;
    /* margin:30px 0px 0px 30px; */
        border: 2px solid yellow;

}
.ritual-druha {
    /* margin:30px 30px 0px 30px; */
            border: 2px solid yellow;

}

.vyrazne {
    font-size: 20px;
    font-weight: 900;
}

.ritual-nadpis {
    font-weight: 900;
    text-transform: uppercase;
    color:#B10D3E;
    margin-top:20px;
}

.ritual-poznamka {
    font-size: 13px;
}

.seda {
    color:#373737;
}

.cviceni-uvod {
    display: flex;
    margin-top: 30px;
    font-size: 18px;
}

.cviceni-prvni {
    flex-basis: 60%;
    margin: 0 30px;
}

.cviceni-druhe {
    margin: 0 30px;
}

.zelene-velke {
    font-size: 20px;
    color:#618D02;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.cviceni-popis {
    margin: 20px 20px;
    text-align: center;
}

.cviceni-banner {
    padding: 0px 30px 30px 30px;
    margin:10px;
}

.cara {
    margin:30px auto;
        /* border: 2px solid yellow; */
}

.ruda {
    color: red;
    font-size: 25px;
}

.obrazek-ctvrtina {
    width:22%;
}

.rada-obrazku {
    display:flex;
    justify-content: space-evenly;
}

.rada-obrazku-stojato {
    display:flex;
    justify-content: space-evenly;
}

.zelena-tabulka {
    padding: 0 0 20px 0;
        /* border: 3px solid green; */

}

.hudba_aktivity {
    margin: 10px 20px;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:baseline;
        /* border: 3px solid green; */

}

.hudba_obr_text {
        display:flex;
        flex-direction: column;
        flex: 1 1 30%;
        /* border: 1px solid #618D02; */
        text-align:center;
        align-items: center;
        justify-content: center;
        margin:5px;
        padding: 10px 0;
        border-radius: 5px;
        /* border: 3px solid yellow; */
        align-content:center;


}



.hudba_chlivek_obr {
    /* border: 3px solid red; */
    display:flex;
    justify-content: center;
}

.hudba_obr {

    background-size: cover;
    background-position: center center;
    margin:5px;
    height:180px;
    width: 180px;
    /* border-radius: 60%; */
    /* border: 2px solid #618D02; */
    color: #EFECEC;

    /* filter: brightness(70%); */
}

.hudba_akce {
    width:100%;
    text-align:center;
    /* background-color:#618D02; */
    /* border: 2px solid red; */
    font-size:x-large;
    /* text-decoration: underline; */
    font-weight: 400;
    color:#B10D3E;

    padding:5px 0;
    /* border-radius: 5px; */

}

._hudba_akce:hover {
    /* color: white; */
    /* background-color: #618D02; */
}

.hudba_popis {
    color:#373737;
    font-weight: bold;
    text-align:left;
    font-size: large;
        /* border: 2px solid #618D02; */

}

.seznam-hudba {
    display:flex;
    flex-direction: column;
    margin: 0 30px 30px 30px;
    line-height: 2;
        /* border: 2px solid #618D02; */


}

.nastroje {
    display:flex;
    margin-top:30px;
    /* border: 2px solid red; */

}

.nastroje-bunka {
    display:flex;
    flex-basis: 33.3%;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid blue; */

}

.nastroje-nazev {
    width:100%;
    text-align:center;
    /* background-color:#618D02; */
    /* border: 2px solid #618D02; */
    font-size:x-large;
    font-weight: 400;
    color:#B10D3E;
}

.nastroje-popis {
    margin:10px 40px;
}

.obrazek-siroky {
    height: 300px;
    background-size: cover;
    background-position: center center;
    margin:10px;

    /* border: 3px solid orange; */
}

.skladby_seznam {
    width:100%;
    display:flex;
    font-style:italic;
    /* border: 3px solid blue; */


}

.skladby_sloupec {
    flex-basis: 50%;
    font-size:large;
        /* border: 3px solid orange; */

}

.cd_popisek {
    width: 50%;
    /* border: 3px solid blue; */
}

.cd-nadpis {
    font-style:italic;
    margin: 20px 10px;
}

.tlacitka-cd {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
        /* border: 3px solid blue; */
}

.videa {
    display: flex;

}

.jedno_video {
    display: flex;
    flex-direction: column;
    margin:10px;
    flex-basis: 50%;
}

.video_popis {
    text-align: center;
    font-style: italic;
    font-size:x-large;
}

.mezera-button1 {
    margin-top: 50px;

}

.mezera-button2{
    margin-top: 30px;

}

.cd-vznik {
    display:flex;
    justify-content: center;
}

.cd-kratke {
    flex-basis:20%;
    background-color: white;
    margin:10px;
    padding:10px;
    font-size: smaller;
    border-radius: 5%;
}

.grid {
    display:grid;
    column-gap: 10px;
    grid-template-columns: 30px 0.85fr 1.5fr 2.15fr;
    grid-template-rows: repeat(16, auto);
    align-items:center;


}

.grid-prvni {
    display:grid;
    column-gap: 10px;
    row-gap: 20px;
    align-items:start;
    justify-content: start;
    grid-template-columns: 0.7fr 1.5fr 2fr 1fr;
}

.grid-druhy {
    display:grid;
    column-gap: 10px;
    row-gap: 20px;
    align-items:start;
    justify-content: start;
    grid-template-columns: 0.8fr 1.5fr 1fr;
}

.poradi {
    /* border: 3px solid blue; */
    justify-self:end;

}

/* .poradi:hover {
    font-size: 30px;
    background-image: "pic/play-green.png" ;
} */

.ikony-prehravac {
    width:20px;
    margin:3px;
    justify-self:end;
}

.text-pisne {
    align-self:start;
    /* visibility: hidden; */
}

/* .text-pisne::first-line {
    visibility: visible;
} */

.item {
    /* border: 3px solid green; */

}
/* .item:hover {

    background-color: lightgrey;
} */

.nazev-pisne {
    font-style: italic;
    font-size: large;
    font-weight: 500;
    padding-top:10px;
 }

.popisek-pisne {
    justify-self: end;
    font-size:12px;
}


label {
    display: block;
    width:150px;
}

.formular {
    display:flex;
    flex-direction: column;
    /* border: 3px solid green; */
    /* align-items: center; */
}

.licence {
    display:flex;
    flex-direction:column;

}

.licence-radek {
    display:flex;
    width: 250px;
    justify-content: space-between;
    align-items:flex-end;
    /* border: 1px solid green; */
}

.licence-cena {
    /* border: 1px solid red; */

}

.licence-bunka {
    margin-right:5%;
    /* border: 1px solid yellow; */

}


/* POCITAC */
@media (min-width:1100px){

}

/* cokoliv mensi nez pocitac */
@media (max-width:1099px){
    .cd {
        flex-direction: column;
        align-items: flex-end;
    }

    .cd_obrazek {
        width:100%;
        align-self: center;
        /* margin: 5% 5%; */
        /* border: 3px solid green; */
    }

    .obrazek_cd {
        width: 500px;
        margin-left:auto;
        margin-right:auto;
        /* border: 3px solid red; */

    }

    .cd_zena_pred {
        display:block;
    }

    .cd_zena_za {
        display:none;
    }

    .cd_text {
        /* border: 3px solid blue; */
        flex-basis:100%;

    }

    .cd_nadpis{
        text-align:center;

    }

    .cd_uvod {
        text-align:center;
        /* border: 3px solid blue; */
    }

    /* UVODNIKY */
    /* O MNE */
    .sekce_obrazek {
        width:auto;
        margin-right: auto;
        margin-left: auto;
    }

}
/* TABLET */
@media (max-width:899px){
  
    body {
        font-size: 16px;
    }

    h2 {
        font-size:30px;
    }

    h3 {
        font-size: 25px;
    }

    .text_zuzeny {
        padding-right:30px;
        padding-left:30px;
    }

    .zenazeme {
        width: 180px;
        font-size: 35px;
        height: 40px;

    }

    .menu {
        flex: 0 1 auto;
        font-size: 13px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        width:100%;
        /* border: 3px solid green; */
    }

    .menu-polozka {
        flex-grow:1;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        padding: 20px 5px;
        width:100px;
        text-transform: uppercase;
        /* border: 1px solid red; */
        color: #000000;
    }


    .motto {
        position: absolute;
        width: 190px;
        height: 128px;
        left: 3%;
        top: 15%;

        font-size: 25px;
        line-height: 25px;

        color: #FFFFFF;
    }

    /* OZVENY */
    .reference {
        flex-direction: column;
        align-items: center;
    }

    .reference_karta {
        width: 80%;
    }

    .reference_karta_1 {
        width: 80%;
    }

    .reference_karta_max {
        width: 80%;
        margin:0;
    }

    /* O MNE */
    .omne {
        flex-direction: column;
        align-items: center;
    }

    .kdo_jsem {
        text-align:center;
    }

    /* UVODNIKY */
    /* O MNE */
    .sekce {
        flex-direction: column;
        align-items: center;
    }

    .kdo_jsem {
        text-align:center;
    }

    .sekce_popis {
        width:90%;
        font-size: 16px;
        /* border: 3px solid blue; */
    
    }

    .videa {
        flex-direction: column;
    }

    .nastroje {
        flex-direction: column;
        text-align: left;
        /* border: 3px solid blue; */
        margin:auto;
        width:80%;
    }

    .cviceni-tabulka {
        flex-direction:column;
    }

    .cviceni-jak {
        margin: 3%;
    }

    .cviceni-uvod {
        flex-direction:column;
    }

    .blog-obr {
        float:none;
        clear:both;
        margin:0 25%;
    }

    .blog-clanek h2 {
        text-align:center;
    }

    .skladby_sloupec {
        font-size:18px;
        flex-basis: 40%;
        display:block;
        margin:0 auto;
        /* border: 3px solid blue; */

    }

    .skladby_seznam {
        justify-content:center;
                /* border: 3px solid blue; */

    }

    .cd_popisek {
        width: 100%;
        /* border: 3px solid blue; */
    }

    .cd_obrazek {
        display:block;
        width:100%;
        /* border: 3px solid blue; */

    }

    .obrazek-cd {
        /* border: 3px solid red; */
        display:block;
        margin:0 auto;
    }

    .cd-nadpis {
        text-align: center;
        
    }

    .cd-vznik {
        margin:0 20px;
        display:flex;
    }

    .cd-kratke {
        flex-basis:40%;
        /* border: 3px solid red; */
    }
    
    .popisek-pisne {
        visibility:hidden;
    }

    .grid {
        grid-template-columns: 30px 0.85fr 1.5fr 0.2fr;
        margin:3% 4%;
    }

    .grid-prvni {
        grid-template-columns: 1fr;
        margin:3% 4%;
        /* border: 3px solid red; */

    }

    .grid-druhy {
        grid-template-columns: 1fr 1.5fr 0.1fr;
        margin:3% 4%;
    }

    p {
        margin:0 4%;
    }
    .nazev-pisne {
        margin:0 4%;
    }

    .tlacitka-cd {
        justify-content: center;
            /* border: 3px solid blue; */
    }

    .podnavigace {
        margin-bottom: 20px;
    }
}

/* MOBIL */
@media (max-width:699px){


    /* zahlavi */
    .zenazeme {
        width: 100%;
        font-size: 35px;
        height: 40px;

    }

    body {
        font-size: 17px;    
    }

    .menu {
        display:none;
    }
    .menu-mobil {
        display:block;
    }

    .motto {
        display:none;
    }

    /* ZRUSENI OBRAZKU U DOPROVAZIM */
    .obr-chlivek {
        display:none;
    }

    .reference_karta {
        width: 90%;
    }

    .reference_karta_1 {
        width: 90%;
    }

    .reference_karta_max {
        width: 90%;
    }

    .odsazene-zboku {
        margin-left:20px;
        margin-right:20px;
    }

    .info-ritual {
        flex-direction: column;
    }

    .blog-obr {
       
        margin:0 20%;
    }

    .cd-vznik {
        flex-direction: column;
    }

}

@media (max-width:500px){
    .obrazek-index {
        width:400px;
        height:400px;
    }


}